.container {
  width: 1250px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

input {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
}

label {
  margin-top: 10px;
}

h1 {
  font-weight: 700;
  color: rgb(126, 95, 95);
  text-align: center;
}

.btn {
  border: 2px solid rgb(126, 95, 95);
  width: 100%;
  background-color: transparent;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(126, 95, 95);
    color: #fff;
  }
}